.linkStyle {
  border-radius: var(--rounded-btn, .5rem);
  padding: .5rem 1rem;
  text-align: start;  
  font-size: 20px;  
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1), cubic-bezier(0,0,.2,1);
  transition-duration: .2s;
  background-color: inherit; 
  color: black;  
  ;
  margin-left: 1.5rem;  
}

.linkStyle:hover {
  background-color: #FED136;;  
}

.linkStyle:active {
  color: white;  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: var(--navbar-padding, .5rem);
  min-height: 4rem;
  width: 100%;
  background-color: white
}

.imageStyle {
  border-radius: var(--rounded-btn, .5rem);
  padding: .5rem;  
  margin-left: 1.5rem;  
  display: flex;
  align-items: center;
  justify-content: center;
}
