 
.section {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 20px;
  }
  
  .description {
    max-width: 800px;  
    margin: auto;  
  }
  